.card {
  box-shadow: 0 10px 14px -15px var(--navy-shadow);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
}

.order-item-card {
  transition: var(--transition);
  box-shadow: 0 10px 14px -15px var(--navy-shadow);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
}

.order-item-card:hover {
  transform: translateY(-5px);
}

.leaflet-top.leaflet-right,
.leaflet-control-attribution.leaflet-control {
  display: none;
}

#mapId {
  z-index: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--slate);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--light-gray);
}
