.card {
  background-color: theme('colors.white');
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  /* border-radius: theme('borderRadius.lg'); */
  /* box-shadow: theme('boxShadow.DEFAULT'); */
}
.leaflet-top.leaflet-right{
  display: none;
}
#mapId{
  z-index: 0;
}